
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans:wght@500&family=Raleway:ital,wght@0,400;0,600;1,200&display=swap');
.profile-img{
    height: auto;
    width: 200px;
    
    
}


/* topnav */
#topnav {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    color: black;
    text-align: center; 
    height: 60px;
    
    font-size: 125%;

}

/* grid */
.container {
    display: grid;
    grid-template-columns: 500px auto;
    grid-template-rows: auto auto;
    gap: 20px;

    }
    .item-1 {
        grid-column-start: 1;
        grid-column-end: 1;
        }

.item-2 {
    width: 200px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    

}

/* body */
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    margin-left: 250px;
    margin-right: 250px;
    
   

}   

h1 {
    font-family: 'Bebas Neue';
    font-size: 70px;
    padding-bottom: 0%;
    margin-bottom: 0%;
}
/* social media footer */ 

social-media {
    text-align: right;
}

.social-media {
    list-style-type: none;
    text-align: right;
   }




/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: #FDBCFF;
    font-style: italic;
    font-size: 125%;
}

/* selected link */
a: active {
    color: black;
}
 


        
